* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-family: 'Sigmar One', cursive;
    align-content: center;
    text-align: center;
    color: #58AD69;
    font-family: 'Laila', serif;
    text-shadow: 1px 1px 2px #1A4F30;
    line-height: 3rem;
    font-size: 1.5rem;
}
body{
    display: flex;
    min-height: 20vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    background-image: radial-gradient(circle, #FACA78, #721AAD);
    color: black;
    font-family: 'Laila', serif;
    line-height: 4rem;
    padding-bottom: 4rem;
}
.button{
    padding: 0.5rem 0.5rem;
    background: #39AD6A;
    box-shadow: 1px 1px 2px #1A4F30;
    border-radius: 12px;
    font-size: 1.5rem;
}
.button:hover{
    background: #46FA91;
}
.logo{
    border-radius: 12px;
    box-shadow: 1px 1px 2px #1A4F30;
}
footer{
    display: flex;
    align-content: center;
    justify-content: last baseline;
}

